h2.example, h2.example_head {
      font-size:20px;
      color:#555555;
      margin-top:1px;
}
div.example p {
    margin-top:10px;
}
div.example {
    width:auto;
    color:#000000;
    background-color:#f1f1f1;
    padding:15px 8px 8px 8px;
    line-height: 1.15em;
    word-wrap: break-word;
    margin-bottom:12px;
    margin-top:12px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
div.example_code {
    width:auto;
    background-color:#ffffff;
    padding:1.1%;
    border-left:4px solid #888888;
    word-wrap: break-word;
}
div.example_result {
    width:auto;
    background-color:#ffffff;
    padding:1.1%;
    xborder-radius:4px;
}
div.code {
    width:auto;
    border:1px solid #dddddd;
    background-color:#f1f1f1;
    color:#444444;
    padding:1.1%;
    margin:0;
    word-wrap: break-word;
    margin-bottom:12px;
}
div.code:after {
    content:"";
    clear:both;
    display:block;
}
div.code div {
    font-size:14px;
}
div.example_code, div.code, div.code div {
      font-face="monospace";
}
.highCOM {color:green;}
.highELE {color:brown;}
.highATT {color:crimson;}
.highATT {color:red;}
.highVAL {color:mediumblue;}
.highGLB {color:#CC9900;}
.highLT, .highGT {color:blue;}

table.reference {
      width:100%;
      max-width:100%;
      border:1px solid #dddddd;
}
table.reference>thead>tr>th, table.reference>tbody>tr>th, table.reference>tfoot>tr>th, table.reference>thead>tr>td, table.reference>tbody>tr>td, table.reference>tfoot>tr>td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
}
table.reference tr:nth-child(odd)   {background-color:#ffffff;}
table.reference tr:nth-child(even)  {background-color:#f1f1f1;}
table.lamp {
    width:100%;
    padding:0px;
    border:1px solid #d4d4d4;
}
table.lamp th {
    color:#000000;
    background-color:white;
    padding:10px;
    padding-right:5px;
}
table.lamp td {
    padding:4px;
    padding-left:0px;
    padding-right:10px;
    background-color:#ffffff;
}